In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("logisticdata.csv")

In [3]:
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [4]:
data.value_counts("price_range")

price_range
0    500
1    500
2    500
3    500
dtype: int64

In [5]:
y=data.dual_sim

In [6]:
x=data.drop("dual_sim",axis=1)

In [7]:
x.shape

(2000, 20)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/3)

In [10]:
x_train.shape

(1333, 20)

In [11]:
x_test.shape

(667, 20)

In [12]:
y_train.shape

(1333,)

In [13]:
from sklearn.naive_bayes import GaussianNB

In [14]:
model=GaussianNB()

In [15]:
model.fit(x_train,y_train)

GaussianNB()

In [16]:
model.score(x_train,y_train)

0.5618904726181545

In [17]:
model.score(x_test,y_test)

0.5217391304347826

In [18]:
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [19]:
y1=data.four_g

In [20]:
x1=data.drop("four_g",axis=1)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train1,x_test1,y_train1,y_test1=train_test_split(x1,y1,test_size=1/3)

In [23]:
x_train1.shape

(1333, 20)

In [24]:
y_train.shape

(1333,)

In [25]:
from sklearn.naive_bayes import GaussianNB

In [26]:
model1=GaussianNB()

In [27]:
model.fit(x_train1,y_train1)

GaussianNB()

In [28]:
model.score(x_train1,y_train1)

0.7584396099024756

In [29]:
model.score(x_test1,y_test1)

0.7631184407796102

In [30]:
data1=pd.read_csv("Card_defaulter.csv")

In [31]:
data1.head()

   Unnamed: 0 default student      balance       income
0           0      No      No   729.526495  44361.62507
1           1      No     Yes   817.180407  12106.13470
2           2      No      No  1073.549164  31767.13895
3           3      No      No   529.250605  35704.49394
4           4      No      No   785.655883  38463.49588

In [42]:
data1=data1.drop("Unnamed: 0",axis=1)

In [44]:
data1.head()

  default student      balance       income
0      No      No   729.526495  44361.62507
1      No     Yes   817.180407  12106.13470
2      No      No  1073.549164  31767.13895
3      No      No   529.250605  35704.49394
4      No      No   785.655883  38463.49588

In [45]:
from sklearn.preprocessing import LabelEncoder

In [46]:
k=LabelEncoder()

In [48]:
data1.default=k.fit_transform(data1.default)
data1.student=k.fit_transform(data1.student)

In [50]:
data1.head()

   default  student      balance       income
0        0        0   729.526495  44361.62507
1        0        1   817.180407  12106.13470
2        0        0  1073.549164  31767.13895
3        0        0   529.250605  35704.49394
4        0        0   785.655883  38463.49588

In [52]:
data1.value_counts("default")

default
0    9667
1     333
dtype: int64

In [53]:
data1.value_counts("student")

student
0    7056
1    2944
dtype: int64

In [54]:
data_0=data1.query("default==0")

In [55]:
data_1=data1.query("default==1")

In [57]:
data_0.value_counts("default")

default
0    9667
dtype: int64

In [59]:
data_1.value_counts("default")

default
1    333
dtype: int64