# step 1: check the duplicate and drop the duplicates
# step 2: check the variance 
# step 3: data leakage
# step 4: feature selection
# step 5: model 
# step 6: save the file by the pickle 
# step 7: load the file by the pickle 
# step 8: check the accuarcy

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("iris.csv",header=None)

In [3]:
data.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
x=data.duplicated()  #this is the for the check the duplicates in the data

In [5]:
x.any()  #if this is the True it means that there is the any dunplicates in the your data

True

In [6]:
print(data[x])   #here these are the duplicates

       0    1    2    3               4
34   4.9  3.1  1.5  0.1     Iris-setosa
37   4.9  3.1  1.5  0.1     Iris-setosa
142  5.8  2.7  5.1  1.9  Iris-virginica

In [7]:
data.drop_duplicates(inplace=True)

In [8]:
x=data.duplicated()

In [9]:
x.any()   #hence now this is the false it means that there is no duplicates in the data now

False

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
k=LabelEncoder()

In [12]:
data[4]=k.fit_transform(data[4])

In [13]:
from sklearn.feature_selection import VarianceThreshold  #this will check if the varianceThreshold of the data is under the given value or not

In [14]:
k=VarianceThreshold(0)

In [15]:
data1=k.fit_transform(data)

In [16]:
data1.shape

(147, 5)

In [17]:
data

       0    1    2    3  4
0    5.1  3.5  1.4  0.2  0
1    4.9  3.0  1.4  0.2  0
2    4.7  3.2  1.3  0.2  0
3    4.6  3.1  1.5  0.2  0
4    5.0  3.6  1.4  0.2  0
..   ...  ...  ...  ... ..
145  6.7  3.0  5.2  2.3  2
146  6.3  2.5  5.0  1.9  2
147  6.5  3.0  5.2  2.0  2
148  6.2  3.4  5.4  2.3  2
149  5.9  3.0  5.1  1.8  2

[147 rows x 5 columns]

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
model=LinearRegression()

In [20]:
y=data[4]

In [21]:
x=data.drop(4,axis=1)

In [22]:
x=x.drop(1,axis=1)

In [23]:
model.fit(x,y)

LinearRegression()

In [24]:
important=model.coef_

In [25]:
important

array([-0.13036599,  0.25029866,  0.58551747])

In [26]:
maxx=0
for i in important:
    if i>maxx:
        maxx=i
        
print(maxx)

0.5855174658798082

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/3)

In [29]:
model.score(x_train,y_train)

0.9376207830132591

In [30]:
model.score(x_test,y_test)

0.9106011723479241

In [33]:
from pickle import dumb

ImportError: cannot import name 'dumb' from 'pickle' (c:\python\lib\pickle.py)