In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("abalone.csv")

In [3]:
data.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [4]:
data.sort_values("Length",axis=0)  #this is for the sort the values in the data

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
236,I,0.075,0.055,0.010,0.0020,0.0010,0.0005,0.0015,1
238,I,0.110,0.090,0.030,0.0080,0.0025,0.0020,0.0030,3
2114,I,0.130,0.095,0.035,0.0105,0.0050,0.0065,0.0035,4
237,I,0.130,0.100,0.030,0.0130,0.0045,0.0030,0.0040,3
1986,I,0.135,0.130,0.040,0.0290,0.0125,0.0065,0.0080,4
...,...,...,...,...,...,...,...,...,...
2090,M,0.775,0.570,0.220,2.0320,0.7350,0.4755,0.6585,17
3715,M,0.780,0.600,0.210,2.5480,1.1945,0.5745,0.6745,11
1209,F,0.780,0.630,0.215,2.6570,1.4880,0.4985,0.5860,11
2334,F,0.800,0.630,0.195,2.5260,0.9330,0.5900,0.6200,23
1428,F,0.815,0.650,0.250,2.2550,0.8905,0.4200,0.7975,14

In [5]:
from sklearn.preprocessing import LabelEncoder
k=LabelEncoder()
data.Sex=k.fit_transform(data.Sex)

In [7]:
data.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,2,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,2,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,2,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,1,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [ ]:
0.365	0.095	0.5140	0.2245	0.1010	0.1500	15

In [ ]:
data.length1=0.455
data.diameter1=0.095
data.height1=0.5140
data.weight1=